
<!--Variety music--><!DOCTYPE html>
<html class="wide wow-animation" lang="es">

  <head>
    <title>{%block title%}{%endblock%}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    {%load static%}

    <link rel="icon" href="{% static 'core/images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" id="main-styles-link">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    clear: both;text-align:center;position: relative;z-index: 1;} 
    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>

  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'core/images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">

      <!-- Page Header-->
      
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-absolute">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{%url 'home'%}"><img src="{% static 'core/images/logoAbryl-footer-360x52.png' %}" alt="" width="201" height="72"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="{%url 'home'%}">Inicio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'biography'%}">Biografía</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'gallery'%}">Galería</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'contact'%}">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Content-->
      {%block content%}{%endblock%}

      <!-- Page Footer-->
      
      <footer class="section footer-2">
      <!--{{test-->
        <div class="container" style="text-align: center">
          <div class="row">     
              <div class="col-lg-12" >
              <hr>
              <br>
              <h5 class="text-white title">Información de contacto</h5>
              <ul class="contact-box">
                
                  <div class="text-center">
                      <span class="icon mdi mdi-map-marker accent-icon"></span>
                      <a href="">Gregorio Bobadilla, Quito 170510</a>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <span class="icon mdi mdi-phone accent-icon"></span>
                        <a href="{{LINK_WHATSAPP}}">+593 98-780-1396 </a>
                    </div>
                    <div class="unit-body">                     
                    </div>
                  </div>
                               
                  <div class="">
                    <div class="text-center">
                      <span class="icon mdi mdi-email-outline accent-icon"></span>
                      <a href="mailto:#">abrylmusic@hotmail.com</a>
                    </div>
                  </div>         
              </ul>
            <div class="group-md group-middle social-items">
            {%if LINK_FACEBOOK %}
            <a class="icon icon-md novi-icon mdi mdi-facebook" href="{{LINK_FACEBOOK}}"></a>
            {%endif%} 
            {%if LINK_INSTAGRAM %}
            <a class="icon icon-md novi-icon mdi mdi-instagram" href="{{LINK_INSTAGRAM}}"></a>
            {%endif%}
            {%if LINK_TWITTER %}
            <a class="icon icon-md novi-icon mdi mdi-twitter" href="{{LINK_TWITTER}}"></a>
            {%endif%}     
            {%if LINK_WHATSAPP %}
            <a class="icon icon-md novi-icon mdi mdi-whatsapp" href="{{LINK_WHATSAPP}}"></a>
            {%endif%}
            </div>
          </div>
        
          </div>
          <!-- Rights-->
          <br>
          <hr>
          <br>
          <p class="rights text-center"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>ABRYL EC LTD</span> <a href="#"></a>
          </p>
        </div>
        <div class="col-lg-2">
              </div> 
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'core/js/core.min.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
  </body>
</html>




