<!--Herencia templates-->
{%extends 'core/base.html'%}
{%block title%}Inicio{%endblock%}

{%load static%}

{%block content%}

      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-2" data-loop="false" data-autoplay="false" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide context-dark" data-slide-bg="{% static 'core/images/bg-1-1920x1000.jpg' %}">
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row justify-content-lg-left">
                  <div class="col-md-12 col-xl-10">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Abryl Ec</h1><a class="button button-lg button-primary" href="{%url 'biography'%}" data-caption-animate="fadeInUp" data-caption-delay="450">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-meta">
          <ul class="links">
            <li><a class="icon icon-meta mdi mdi-facebook" href="#"></a></li>
            <li><a class="icon icon-meta mdi mdi-instagram" href="#"></a></li>
            <li><a class="icon icon-meta mdi mdi-whatsapp" href="#"></a></li>           
            <li><a class="icon icon-meta mdi mdi-twitter" href="#"></a></li>

         
          </ul>
        </div>
      </section>

{%endblock%}      